name: Railway Deployment

on:
  push:
    branches: [main, master]

permissions:
  contents: read

jobs:
  deploy:
    name: Railway Deployment
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Railway
        uses: railwayapp/railway-github-deploy@v1
        with:
          railway-token: ${{ secrets.RAILWAY_TOKEN }}
